APP_NAME=TahsilX
ENV=dev
API_PREFIX=/api

DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/tahsilx

JWT_SECRET=CHANGE_ME_SUPER_SECRET
JWT_ALG=HS256
JWT_EXPIRES_MINUTES=10080

WEBHOOK_TEST_SECRET=CHANGE_ME_WEBHOOK_SECRET